h1{

color: white;
background-color: brown;
font-size: 90px;
text-align: center;
padding: 50px;
}

#parágrafo{

color: bisque;
background-color: black;
text-align: left;
font-size: 60px;

}

.ppp{
    font-size: medium;
    color: aquamarine;
    background-color: black;
}





















